.navhead-login {
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; /* Tambahkan ini */
  z-index: 1000;
}

.navhead-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navhead-logo {
  height: 50px;
  object-fit: contain;
  width: 150px;
}
